//* Variables *//

//* Breakpoints *//
$small: 0;
$medium: 40em;
$large: 64em;

//* Grid *//
$gutter: 2%;
$potatoes: (one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve);
$container-max-width: 1020px;

//* Colors *//
$primary-color:         #333;
$border-color:          #ccc;
$button-color:          #7a7a7a;
$button-hover-color:    #2a2a2a;
$bg-color:              #ededed;
$shadow-color:          #bbb;
$hover-color:           #8c8a8a;
$white-color:           #fff;
$info-color:            #3498db;
$success-color:         #27ae60;
$warning-color:         #f39c12;
$danger-color:          #e74c3c;

//* Fonts *//
$base-font-family: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
