; This file is for unifying the coding style for different editors and IDEs
; See editorconfig.org

; top-most EditorConfig file
root = true

[*]
indent_style = tab
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
