## Ignore these files ##

# System files
.dat
.thumbs

# Sublime Text #
.sublime
.sublime-project
.sublime-build
.sublime-syntax
.sublime-workspace

# IntelliJ IDEA #
.idea

## Ignore any unwanted directories ##

# Cloud 9 #
.c9/
/.c9
/.c9/

# Node
node_modules/
package-lock.json

# Test folders
test/
