{
	"extends": "stylelint-config-standard",
	"plugins": [
		"stylelint-csstree-validator"
	],
	"rules": {
		"indentation": "tab",
		"string-quotes": "double",
		"no-duplicate-selectors": true,
		"color-hex-case": "lower",
		"color-hex-length": "short",
		"color-named": "never",
		"selector-combinator-space-after": "always",
		"selector-attribute-quotes": "always",
		"selector-attribute-operator-space-before": "never",
		"selector-attribute-operator-space-after": "never",
		"selector-attribute-brackets-space-inside": "never",
		"declaration-block-trailing-semicolon": "always",
		"declaration-colon-space-before": "never",
		"declaration-colon-space-after": "always",
		"number-leading-zero": "never",
		"function-url-quotes": "always",
		"font-weight-notation": "named-where-possible",
		"comment-empty-line-before": null,
		"comment-whitespace-inside": "always",
		"selector-pseudo-element-colon-notation": "double",
		"selector-pseudo-class-parentheses-space-inside": "never",
		"media-feature-range-operator-space-before": "never",
		"media-feature-range-operator-space-after": "never",
		"media-feature-parentheses-space-inside": "never",
		"media-feature-colon-space-before": "never",
		"media-feature-colon-space-after": "always",
		"csstree/validator": true
	}
}
