/* Font */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i);

/* Global */
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    line-height: 1.5;
    color: #333;

}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin: 5px 0;
    font-weight: lighter;
    font-style: normal;
    line-height: 1.5;
    text-transform: none;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 1.750em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.250em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
}

@media screen and (min-width: 40em) {
    h1 {
        font-size: 1.875em;
    }

    h2 {
        font-size: 1.625em;
    }

    h3 {
        font-size: 1.375em;
    }

    h4 {
        font-size: 1.250em;
    }

    h5 {
        font-size: 1.125em;
    }

    h6 {
        font-size: 1em;
    }
}


/* Grid */
.container {
    position: relative;
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}

.row {
    position: relative;
    width: 96%;
}

.potato, .potatoes {
    width: 96%;
    float: left;
}

.row .potato, .row .potatoes {
    float: left;
    margin: 8px 2%;
    min-height: 2px;
}

.container:after, .row:after {
    content: "";
    clear: both;
    display: table;
}

/* Small - Mobile */
.one-small.potato, .one-small.potatoes {
    width: 4.33%;
}

.two-small.potatoes {
    width: 12.66%;
}

.three-small.potatoes {
    width: 21%;
}

.four-small.potatoes {
    width: 29.33%;
}

.five-small.potatoes {
    width: 37.66%;
}

.six-small.potatoes {
    width: 46%;
}

.seven-small.potatoes {
    width: 54.33%;
}

.eight-small.potatoes {
    width: 62.66%;
}

.nine-small.potatoes {
    width: 71%;
}

.ten-small.potatoes {
    width: 79.33%;
}

.eleven-small.potatoes {
    width: 87.66%;
}

.twelve-small.potatoes {
    width: 96%;
}

/* Medium - Tablet */
@media screen and (min-width: 40em) {

    .one-medium.potato, .one-medium.potatoes {
        width: 4.33%;
    }

    .two-medium.potatoes {
        width: 12.66%;
    }

    .three-medium.potatoes {
        width: 21%;
    }

    .four-medium.potatoes {
        width: 29.33%;
    }

    .five-medium.potatoes {
        width: 37.66%;
    }

    .six-medium.potatoes {
        width: 46%;
    }

    .seven-medium.potatoes {
        width: 54.33%;
    }

    .eight-medium.potatoes {
        width: 62.66%;
    }

    .nine-medium.potatoes {
        width: 71%;
    }

    .ten-medium.potatoes {
        width: 79.33%;
    }

    .eleven-medium.potatoes {
        width: 87.66%;
    }

    .twelve-medium.potatoes {
        width: 96%;
    }

}

/* large - Desktop */
@media screen and (min-width: 64em) {
    .one-large.potato, .one-large.potatoes {
        width: 4.33%;
    }

    .two-large.potatoes {
        width: 12.66%;
    }

    .three-large.potatoes {
        width: 21%;
    }

    .four-large.potatoes {
        width: 29.33%;
    }

    .five-large.potatoes {
        width: 37.66%;
    }

    .six-large.potatoes {
        width: 46%;
    }

    .seven-large.potatoes {
        width: 54.33%;
    }

    .eight-large.potatoes {
        width: 62.66%;
    }

    .nine-large.potatoes {
        width: 71%;
    }

    .ten-large.potatoes {
        width: 79.33%;
    }

    .eleven-large.potatoes {
        width: 87.66%;
    }

    .twelve-large.potatoes {
        width: 96%;
    }
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], select, textarea {
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    border-radius: 4px;
    display: block;
    font-size: 1em;
    line-height: 1;
    height: 46px;
    margin: 0 0 20px 0;
    padding: 0 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
    min-height: 150px;
    padding: 10px;
    line-height: 1.5;
}

label {
    display: block;
}

input[type="radio"] + label, input[type="checkbox"] + label  {
    display: inline-block;
}

::-webkit-input-placeholder {
   color: #333;
}

:-moz-placeholder {
   color: #333;
}

::-moz-placeholder {
   color: #333;
}

:-ms-input-placeholder {
   color: #333;
}

/* Other */
hr {
    position: relative;
    width: 96%;
    border: solid #ccc;
    border-width: 1px 0 0;
    clear: both;
}

/* Buttons */
.button {
    background-color: #fff;
    border: 1px solid #333;
    color: #333;
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    border-radius: 4px;
    padding: 14px 20px;
    margin: 0 0 20px 0;
    font-size: 1em;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    -webkit-appearance: none;
    -webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.button:hover, .button:focus {
    background-color: #333;
    color: #fff;
}

.button.success {
    background-color: #fff;
    color: #27ae60;
    border: 1px solid #27ae60;
}

.button.success:hover, .button.success:focus {
    background-color: #27ae60;
    color: #fff;
}

.button.warning {
    background-color: #fff;
    color: #f39c12;
    border: 1px solid #f39c12;
}

.button.warning:hover, .button.warning:focus {
    background-color: #f39c12;
    color: #fff;
}

.button.danger {
    background-color: #fff;
    color: #e74c3c;
    border: 1px solid #e74c3c;
}

.button.danger:hover, .button.danger:focus {
    background-color: #e74c3c;
    color: #fff;
}

.button.small {
    padding: 10px 16px;
    font-size: 0.750em;
}

.button.large {
    padding: 16px 30px;
    font-size: 1.5em;
}

.button.expanded {
    display: block;
    max-width: 100%;
}

/* Utilities */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.font-light {
  font-weight: lighter;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

/* Unordered list markers */
.circle-potato {
  list-style-type: circle;
}

.square-potato {
  list-style-type: square;
}

.roman-potato {
  list-style-type: upper-roman;
}

.alpha-potato {
  list-style-type: lower-alpha;
}
