/* lists */

.inline-potato {
	display: inline;
	padding: 0;

	li {
		display: inline;
	}
}

.circle-potato {
	list-style-type: circle;
}

.square-potato {
	list-style-type: square;
}

.roman-potato {
	list-style-type: upper-roman;
}

.alpha-potato {
	list-style-type: lower-alpha;
}
