//* Variables *//

//* Colors *//

$primary-color: #333;
$border-color: #ccc;
$white-color: #fff;
$info-color: #3697c1;
$success-color: #27ae60;
$warning-color: #f39c12;
$danger-color: #e74c3c;

//* Base traits *//

$base-font-face: "https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i";
$base-font-family: "Roboto", "Helvetica Neue", "Helvetica", Arial, Sans-Serif;
$base-font-size: 100%; // Consider switching to 16px declaration?
$base-line-height: 1.5;
$base-text-color: $primary-color;

//* Widths? *//

$one-width: 4.33%;
$two-width: 12.66%;
$three-width: 21%;
$four-width: 29.33%;
$five-width: 37.66%;
$six-width: 46%;
$seven-width: 54.33%;
$eight-width: 62.66%;
$nine-width: 71%;
$ten-width: 79.33%;
$eleven-width: 87.66%;
$primary-width: 96%;

//* Container traits *//

$container-max-width: 960px;

//* Row traits *//

// TBD...

//* Heading (h1, h2, h3, etc...) traits *//

$heading-margin: 5px 0;
$heading-font-family: inherit;
$heading-font-color: $primary-color;
$heading-font-size-divisory-denominator: 8;
$heading-line-height: inherit;