/* Buttons */

.button {
	padding: 12px 18px;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	line-height: 1;
	cursor: pointer;
	border-radius: 4px;
	margin: 0 0 20px 0;
	position: relative;
	white-space: nowrap;
	vertical-align: middle;
	text-decoration: none;
	transition: .2s ease-out;
	transition-property: background-color, color;
	background-color: transparent;
	color: $primary-color;
	border: 1px solid $primary-color;

	@include screen($medium) {
		padding: 14px 20px;
		font-size: 16px;
	}

	@include hover() {
		background-color: $primary-color;
		color: $white-color;
	}

	&.full {
		background-color: $primary-color;
		color: $white-color;
		border: 1px solid $primary-color;

		@include hover() {
			background-color: transparent;
			color: $primary-color;
		}
	}

	&.primary {
		background-color: transparent;
		color: $info-color;
		border: 1px solid $info-color;

		@include hover() {
			background-color: $info-color;
			color: $white-color;
		}

		&.full {
			background-color: $info-color;
			color: $white-color;
			border: 1px solid $info-color;

			@include hover() {
				background-color: transparent;
				color: $info-color;
			}
		}
	}

	&.success {
		background-color: transparent;
		color: $success-color;
		border: 1px solid $success-color;

		@include hover() {
			background-color: $success-color;
			color: $white-color;
		}

		&.full {
			background-color: $success-color;
			color: $white-color;
			border: 1px solid $success-color;

			@include hover() {
				background-color: transparent;
				color: $success-color;
			}
		}
	}

	&.warning {
		background-color: transparent;
		color: $warning-color;
		border: 1px solid $warning-color;

		@include hover() {
			background-color: $warning-color;
			color: $white-color;
		}

		&.full {
			background-color: $warning-color;
			color: $white-color;
			border: 1px solid $warning-color;

			@include hover() {
				background-color: transparent;
				color: $warning-color;
			}
		}
	}

	&.danger {
		background-color: transparent;
		color: $danger-color;
		border: 1px solid $danger-color;

		@include hover() {
			background-color: $danger-color;
			color: $white-color;
		}

		&.full {
			background-color: $danger-color;
			color: $white-color;
			border: 1px solid $danger-color;

			@include hover() {
				background-color: transparent;
				color: $danger-color;
			}
		}
	}

	&.small {
		padding: 10px 16px;
		font-size: 12px;
	}

	&.large {
		padding: 14px 24px;
		font-size: 18px;

		@include screen($medium) {
			padding: 16px 30px;
			font-size: 24px;
		}
	}

	&.expanded {
		display: block;
		max-width: 100%;
	}
}
