/* Tables */

table {
	width: 100%;
	text-align: left;
	background: $white-color;
	border: 1px solid $border-color;
	margin-bottom: 20px;
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
}
