//* Mixins *//

@mixin button-border($border-color: $primary-color) {
	border: 1px solid $border-color;
}

@mixin button-color($background-color: $white-color, $color: $primary-color) {
	background-color: $background-color;
	color: $color;
}

@mixin button-size($pad1, $pad2, $font) {
	padding: $pad1 $pad2;
	font-size: $font;
}

@mixin button-config {
	@include button-color();
	@include button-border($primary-color);
	@include button-size(14px, 20px, 1em);
	display: inline-block;
	text-align: center;
	line-height: 1;
	cursor: pointer;
	border-radius: 4px;
	margin: 0 0 20px 0;
	position: relative;
	white-space: nowrap;
	vertical-align: middle;
	text-decoration: none;
	-webkit-appearance: none;
	-webkit-transition: background-color 0.2s ease-out, color 0.2s ease-out;
	transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
